{% extends "base.html.twig" %}

{% block title 'Voir toutes les aquarelles' %}

{% block body %}
    <div class="container mt-4">
        <h1>Toutes nos aquarelles</h1>
        <p>Vous voici donc de nouveau chez nous...</p>
        <p>Entrez donc.
        Au fil de ces pages vous trouverez une présentation d'une part de nos créations, aquarelles et photos, présentées en album.
        Nous vous laissons errer, papillonner d'aquarelle en image au gré de votre envie et vous souhaitons d'y prendre plaisir.
        </p> 
    </div>
    <div class="container">
    </div>
{% endblock %}